<%= content_for :title do %>
  Novo Contacto
<% end %>
 
<div class="columns is-multiline is-paddingless">
  <div class="column is-12">
    <%= form_with model: @contact, local: true do |f| %>
      <%= f.fields_for :record do |uf| %>
        <div class="field">
          <%= uf.label :cell_phone, class: "label has-text-white-ter" %>
          <div class="control">
            <%= uf.text_field :cell_phone, class: "input #{ 'is-danger' if f.object.errors[:user].present? }"%>
          </div>
          <p class="help is-danger"><%= f.object.errors[:record].first %></p>
        </div>
      <% end %>
 
      <%= f.submit "Registar contacto", class: "button is-fullwidth is-success is-outlined" %>
    <% end %>
  </div>
</div>